<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/stylesheet/style.css}">
    <link rel="icon" th:href="@{/assets/popcorn.png}">
    <title>Moviex</title>
</head>
<body>
<div class="container">
    <nav class="navbar">
        <div class="left">
            <img th:src="@{/assets/logo.png}" alt="Moviex logo">
        </div>
    </nav>
    <div class="title">
        <div class="content">
            <h1>Unlimited Movies, TV shows and more</h1>
            <div class="email">
                <a class="btn" th:href="@{/login}">Login</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
